<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <style>
            h2{
                font-size: 1.2rem;
            }
            p{
                font-size: 1rem;
                line-height: 1.7rem;
                margin: 1rem 0;
                text-align: justify;
            }

        </style>
    </head> 
    <body>
        

        <header>
            <!-- Nav -->
            <div class="nav container">
                <!-- Logo -->
                <a href="{{ url_for('home') }}" class="logo">Eh<span>ito</span></a>
                <!-- Login/Logout Buttons -->
                <div class="right-buttons">
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('login') }}" class="login">Login</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                     <a href="{{ url_for('createpost') }}" class="logout">Create Post</a>
                     <a href="{{ url_for('logout') }}" class="logout">Logout</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <!-- Post Content -->
        <section class="post-header">
            <div class="header-content post-container">
                <!-- Back To Home -->
                <a href="{{ url_for('home') }}" class="back-home">Back To Home </a>
                <!-- Title -->
                <h1 class="header-title">{{blog.title}}</h1>
                <!-- Post Image -->
                <img src="{{ url_for('home') }}{{ blog.cover_path }}" alt="" class="header-img">
            </div>
        </section>
        
        <!-- Posts -->
        <section class="post-content post-container">
            <p class="post-text"> {{ blog.description |safe }} </p>
        </section>
        
        <!-- Share -->
        <div class="share post-container">
            <span class="share-title">Share this article</span> 
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a> 
                    <a href="#"><i class='bx bxl-instagram'></i></a> 
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </div>

        <!-- Footer -->
        <div class="footer container">
            <p>&#169; Ehito All Right Reserved</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a> 
                <a href="#"><i class='bx bxl-instagram'></i></a> 
                <a href="#"><i class='bx bxl-linkedin'></i></a> 
            </div>
        </div>



        <!-- JQuery Link -->
        <script 
        src="https://code.jquery.com/jquery-3.7.1.js" 
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" 
        crossorigin="anonymous">
        </script>

        <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
    </body>
</html>